* {
    box-sizing: border-box;
}

.container {
    
        opacity: 1;
        -webkit-animation-name: fadeInOpacity;
                animation-name: fadeInOpacity;
        -webkit-animation-iteration-count: 1; 
                animation-iteration-count: 1;
        -webkit-animation-timing-function: ease-in;
                animation-timing-function: ease-in;
        -webkit-animation-duration: 2s;        
                animation-duration: 2s;
      }
  
      @keyframes fadeInOpacity {
        0% {
          opacity: 0;
        }
        50% {
          opacity: 0;
        }
        100% {
          opacity: 1;
        }
      }




.container .grid {
    display: grid;
    grid-template-columns: 1fr minmax(420px, 840px) 1fr;
    grid-template-rows: ;
    height: 100vh;
    

}

.container .grid div {
    padding:;
}

body {
    /* height: 100vh;
    width: 100vw; */
    margin: 0;
    background-color: #171717;
}

.container {
    position: relative;
    height: 100%;
}


@media (max-width: 480px) {
    .side {
        display: none;
    }
    .container .grid {
        display: grid;
        
        grid-template-columns: minmax(300px, 420px);
        grid-template-rows: ;
        height: 100vh;
        padding: 12px;
        
    
    }
}